In [1]:
import pymysql
import random
import string

In [2]:
_db = pymysql.connect(
        host='localhost',
        port= 3306,
        user='root',
        password='java',
        db='os'
    )
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [4]:
letter_set = string.ascii_lowercase
letter_set

'abcdefghijklmnopqrstuvwxyz'

In [16]:
name_list = []
for i in range(50):
    random_data = random.sample(letter_set, 5)
    data = "".join(random_data)
    if data not in name_list:
        name_list.append(data)
    #길이가 50이 되면 반복문 종료
    if len(name_list) == 50:
        break

In [18]:
len(name_list)

50

In [19]:
addr = ['강북','강남','강동','강서']
addr_list = []
for i in range(50):
    data = random.choice(addr)
    addr_list.append(data)

In [21]:
len(addr_list)

50

In [22]:
cate = [0,1,2]
cate_list = []
for i in range(50):
    data = random.choice(cate)
    cate_list.append(data)

In [23]:
len(cate_list)

50

In [25]:
letter_set2 = '1234567890'
tel_list = []

for i in range(50):
    random_data1 =  random.sample(letter_set2,4)
    random_data2 =  random.sample(letter_set2,4)
    data1 = "".join(random_data1)
    data2 = "".join(random_data2)
    data = '010-'+data1+'-'+data2
    tel_list.append(data)

In [26]:
tel_list

['010-2307-7369',
 '010-9536-0675',
 '010-7523-7936',
 '010-4682-1548',
 '010-6179-6419',
 '010-8947-1609',
 '010-8579-0395',
 '010-2076-2638',
 '010-5307-0671',
 '010-0329-5927',
 '010-0439-2506',
 '010-3917-0287',
 '010-0684-0618',
 '010-2748-9041',
 '010-3961-8049',
 '010-4675-0382',
 '010-2160-4213',
 '010-1734-0724',
 '010-7493-6932',
 '010-6507-4271',
 '010-4083-2493',
 '010-3189-3905',
 '010-6750-5438',
 '010-6380-3645',
 '010-2560-3401',
 '010-2583-5364',
 '010-8026-6501',
 '010-1473-1032',
 '010-2963-1602',
 '010-1037-1204',
 '010-6452-8035',
 '010-4086-3028',
 '010-7065-2695',
 '010-7954-6754',
 '010-0127-3980',
 '010-0635-5170',
 '010-3426-9621',
 '010-2351-3140',
 '010-1926-0972',
 '010-8715-4102',
 '010-9184-2613',
 '010-9364-0248',
 '010-5214-0231',
 '010-4790-7892',
 '010-3290-3940',
 '010-5063-5438',
 '010-1749-7618',
 '010-7589-6019',
 '010-8071-0347',
 '010-9708-4519']

In [28]:
sql = """
    INSERT
    INTO
    studio
    VALUES
    (%s,%s,%s,%s)
    """

for i in range(50):
    value = [name_list[i],addr_list[i],tel_list[i],cate_list[i]]
    cursor.execute(sql, value)
_db.commit()

IntegrityError: (1062, "Duplicate entry 'vrncw' for key 'studio.PRIMARY'")