1.특정한 경로에 있는 파일의 목록을 로드
2.목록들을 모두 데이터프레임 로드(read_함수를 이용)
3.단순한 행 결합을 이용하여 하나의 데이터프레임 형성

In [4]:
!pip install pandas
!pip install openpyxl

Requirement already satisfied: pandas in c:\users\eungok\appdata\local\programs\python\python310\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\eungok\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\eungok\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\eungok\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\eungok\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.25.1)
Requirement already satisfied: six>=1.5 in c:\users\eungok\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: openpyxl in c:\users\eungok\appdata\local\programs\python\python310\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\eungok\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)

In [5]:
#라이브러리 로드
import pandas as pd
import os
import openpyxl

In [6]:
# 특정한 경로의 파일의 목록
# listdir(경로)
# os라이브러리 안에 있는 함수
os.listdir("./csv/2017/")

['201701_expense_list.csv',
 '201702_expense_list.csv',
 '201703_expense_list.csv',
 '201704_expense_list.csv',
 '201705_expense_list.csv',
 '201706_expense_list.csv',
 '201707_expense_list.csv',
 '201708_expense_list.csv',
 '201709_expense_list.csv',
 '201710_expense_list.csv',
 '201711_expense_list.csv',
 '201712_expense_list.csv']

In [ ]:
df = pd.DataFrame(
    {
        'id' : ['test','test2','test3'],
        'age' : [20,30,40]
    }
)
df2 = pd.DataFrame(
    {
        'id' :['test4','test5',],
        'age' : [20,30,40]
    }
)

In [8]:
#df.concat()

In [10]:
file_path = "./csv/2017/"
file_list = os.listdir(file_path)

# 빈 데이터프레임 생성
df_2017 = pd.DataFrame()


for i in file_list:
    print(file_path + i)
    df = pd.read_csv(file_path+i)
    df_2017 = pd.concat([df_2017,df],axis=0)

./csv/2017/201701_expense_list.csv
./csv/2017/201702_expense_list.csv
./csv/2017/201703_expense_list.csv
./csv/2017/201704_expense_list.csv
./csv/2017/201705_expense_list.csv
./csv/2017/201706_expense_list.csv
./csv/2017/201707_expense_list.csv
./csv/2017/201708_expense_list.csv
./csv/2017/201709_expense_list.csv
./csv/2017/201710_expense_list.csv
./csv/2017/201711_expense_list.csv
./csv/2017/201712_expense_list.csv

In [11]:
pd.read_csv("./csv/2017/201701_expense_list.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                5517 non-null   int64
 1   title              5517 non-null   object
 2   url                5517 non-null   object
 3   dept_nm_lvl_1      5517 non-null   object
 4   dept_nm_lvl_2      5517 non-null   object
 5   dept_nm_lvl_3      4842 non-null   object
 6   dept_nm_lvl_4      1350 non-null   object
 7   dept_nm_lvl_5      252 non-null    object
 8   exec_yr            5517 non-null   int64
 9   exec_month         5517 non-null   int64
 10  expense_budget     274 non-null    float64
 11  expense_execution  202 non-null    float64
 12  category           115 non-null    object
 13  dept_nm_full       5517 non-null   object
 14  exec_dt            5517 non-null   object
 15  exec_loc           5467 non-null   object
 16  exec_purpose       5516 non-null   object
 17  target_nm          5486 non-null   object
 18  payment_method     5514 non-null   object
 19  exec_amount        5517 non-null   int64
dtypes: float64(2), int64(4), object(14)
memory usage: 862.2+ KB

In [12]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70132 entries, 0 to 7285
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                70132 non-null  int64
 1   title              70132 non-null  object
 2   url                70132 non-null  object
 3   dept_nm_lvl_1      70132 non-null  object
 4   dept_nm_lvl_2      70074 non-null  object
 5   dept_nm_lvl_3      61262 non-null  object
 6   dept_nm_lvl_4      17939 non-null  object
 7   dept_nm_lvl_5      3474 non-null   object
 8   exec_yr            70132 non-null  int64
 9   exec_month         70132 non-null  int64
 10  expense_budget     3108 non-null   float64
 11  expense_execution  2805 non-null   float64
 12  category           1259 non-null   object
 13  dept_nm_full       70053 non-null  object
 14  exec_dt            70132 non-null  object
 15  exec_loc           69360 non-null  object
 16  exec_purpose       70110 non-null  object
 17  target_nm          69597 non-null  object
 18  payment_method     69929 non-null  object
 19  exec_amount        70132 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 11.2+ MB

In [13]:
file_path = "./csv/2019/"
file_list = os.listdir(file_path)

df_2019 = pd.DataFrame()

for i in file_list:
    df = pd.read_json(file_path+i)
    df_2019 = pd.concat([df_2019,df],axis=0)

In [14]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74207 entries, 0 to 7843
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                74207 non-null  int64
 1   title              74207 non-null  object
 2   url                74207 non-null  object
 3   dept_nm_lvl_1      74207 non-null  object
 4   dept_nm_lvl_2      74207 non-null  object
 5   dept_nm_lvl_3      74207 non-null  object
 6   dept_nm_lvl_4      74207 non-null  object
 7   dept_nm_lvl_5      74207 non-null  object
 8   exec_yr            74207 non-null  int64
 9   exec_month         74207 non-null  int64
 10  expense_budget     2075 non-null   float64
 11  expense_execution  1598 non-null   float64
 12  category           74028 non-null  object
 13  dept_nm_full       74207 non-null  object
 14  exec_dt            74207 non-null  object
 15  exec_loc           74207 non-null  object
 16  exec_purpose       74207 non-null  object
 17  target_nm          74207 non-null  object
 18  payment_method     74207 non-null  object
 19  exec_amount        74207 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 11.9+ MB

In [15]:
file_path = "./csv/2020/"
file_list = os.listdir(file_path)

df_2020 = pd.DataFrame()

for i in file_list:
    df = pd.read_excel(file_path+i)
    df_2020 = pd.concat([df_2020,df],axis=0)

In [16]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70862 entries, 0 to 7814
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                70862 non-null  int64
 1   title              70862 non-null  object
 2   url                70862 non-null  object
 3   dept_nm_lvl_1      70862 non-null  object
 4   dept_nm_lvl_2      70862 non-null  object
 5   dept_nm_lvl_3      55593 non-null  object
 6   dept_nm_lvl_4      18992 non-null  object
 7   dept_nm_lvl_5      1601 non-null   object
 8   exec_yr            70862 non-null  int64
 9   exec_month         70862 non-null  int64
 10  expense_budget     1823 non-null   float64
 11  expense_execution  1338 non-null   float64
 12  category           2123 non-null   object
 13  dept_nm_full       70862 non-null  object
 14  exec_dt            70862 non-null  object
 15  exec_loc           70278 non-null  object
 16  exec_purpose       70862 non-null  object
 17  target_nm          70488 non-null  object
 18  payment_method     70862 non-null  object
 19  exec_amount        70862 non-null  int64
 20  bimok              283 non-null    object
dtypes: float64(2), int64(4), object(15)
memory usage: 11.9+ MB

In [6]:
def list_data(_path, _end):
    # _path 는 파일의 경로
    # 경로의 파일의 목록 로드
    file_list = os.listdir(_path)

    #특정한 확장자의 파일 목록을 만들기 위해 비어있는 리스트를 생성
    file_list2 = []

    for i in file_list:
        if i.split(".")[-1] == '_end':
            file_list2.append(i)

    #함수의 결과값 -> 비어있는 데이터프레임
    result = pd.DataFrame()

    #반복문을 이용하여 파일 목록들을 데이터프레임 로드 하고 result에 행결합
    for i in file_list:
        # _end가 csv라면 read_csv()
        # _end가 json이라면 read_json()
        # _end가 xlsc,xls라면 read_excel()
        if _end == 'csv':
            df = pd.read_csv(_path + '/' +i)
        elif _end == "json":
            df = pd.read_json(_path + '/' +i)
        elif _end in ['xlsx','xls']:
            df = pd.read_excel(_path + '/' +i)
        else:
            return "지원하지 않는 확장자입니다."
        result = pd.concat([result,df],axis=0)

    return result

In [7]:
file_list = os.listdir('./csv/2021/')

In [9]:
file_list[0].split('.')[-1]

'csv'

In [ ]:
#for i file_list:
    #확장자가 csv인 경우
 #   if i.split('.')[-1] == 'xlsx':
  #  print(i)

In [12]:
for i in file_list:
    #문자열의 마지막값과 비교
    if i.endswith('csv'):
        print(i)

202101_expense_list.csv
202102_expense_list.csv
202103_expense_list.csv
202104_expense_list.csv
202105_expense_list.csv
202106_expense_list.csv
202107_expense_list.csv
202108_expense_list.csv
202109_expense_list.csv
202110_expense_list.csv
202111_expense_list.csv
202112_expense_list.csv